<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partial/header::header" ></div>
<body>
<link th:href="@{/themes/css/friend.css}" rel="stylesheet">
<div class="clearfix">
	<div class="page_cover">
		<div style="background-color:#555;background-image:url('/themes/img/bgimg/r384719088785195.gif')" class="aha one_page">
			<div class="aha_body with_bg">
				<h1 class="title">献爱心</h1>
				<div class="content"><div class="p_part"><p class="p_text">只要人人都献出一点爱，世界将变成美好的人间。</p></div></div>
				<div class="buttons">
					<a href="/poor" class=" link link1">我没爱心</a>
					<a href="/reallove" class=" link link2">微信/支付宝</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>